* {
    font-family: Arial, Helvetica, sans-serif;
    color: #FFF;
}

body {
    padding: 0;
    margin: 0;
    background-color: #121F45;
}

.verstappenimg {
    width: 10%;
    margin: 1rem;
}

.verstappenimg img {
    width: 100%;
    display: block;
    box-shadow: 5px 5px 10px #000;
}

.verstappenimg p {
    margin: 0;
    margin-top: 1em;
    overflow-wrap: break-word;
    word-wrap: break-word;
    font-size: 10px;
}